<div id="modal" class="modal">
  <div class="modal-content">
    <div class="modal-close-container">
      <span class="close">&times;</span>
    </div>
    <div class="modal-text-container">
      <h6 class="font-weight-light">
        Time Available: <span id="modal-text" ></span>
      </h6>
    </div>
  </div>
</div>