.hour-cell {
  height: 75px;
  border-top: 2px dotted gray;
}

.column-heading {
  height: 50px;
  padding: 5px;
  background-color: lightgray;
}

.column-heading-no-bg {
  height: 50px;
  padding: 5px;
}

.work-order-cell {
  font-size: 75%;
  font-weight: 700;
  line-height: 0.5;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: left;
  background-color: #3ce218;
  text-color: white;
}

.free-time-cell {
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: left;

  &:hover {
    background-color: rgba(255,128,0,0.5);
  }
}