<div class="row h-100">

  <!-- BEGIN TIME COLUMN -->
  <div class="col-1 mt-5 p-0 d-flex flex-column">
    <div class="column-heading-no-bg"></div>
    <% @tod_range.each do |h| %>
      <div class="hour-cell">
        <%= ScheduleService::prettify_tod_hour(h) %>
      </div>
    <% end %>
  </div>
  <!-- END TIME COLUMN -->

  <!-- BEGIN TECHNICIAN COLUMNS -->

  <% @technicians.all.each do |technician| %>

    <div class="technician-col col mt-5 p-0 d-flex flex-column">

      <div class="column-heading">
        <div class="badge">
          <%= technician.name.titleize %>
        </div>
      </div>

      <% @tod_range.each do |h| %>
        <div class="hour-cell">
        </div>
      <% end %>


    </div>

  <% end %>
  <!-- END TECHNICIAN COLUMNS -->

</div>
